<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Elden Messages</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>

    <h1>Elden Messages</h1>

<form method="post" th:action="@{/post}">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

    <input type="text" name="content" placeholder="Leave a message..." required />
    <button type="submit">Send</button>
</form>


<hr>

<div>
    <h2>Messages:</h2>
    <ul>
        <li th:each="msg : ${messages}">
            <strong th:text="${msg.username}"></strong>:
            <span th:text="${msg.content}"></span>
        </li>
    </ul>
</div>

</body>
</html>
